 body {
	  margin: 0;
	  padding: 0;
	  }
.btn {
	  font-family: arial;
	  text-transform: uppercase;
	  font-size: 30px;
	  width: 240px;
	  height: 60px;
	  border-radius: 80px;
	  line-height: 60px;
	  text-align: center;
	  border: 3px solid #009688;
	  display: black;
	  text-decoration: none;
	  margin: 300px auto;
	  }